VITE_SUPABASE_URL=https://jztjqbqvntayvvwfyhwi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6dGpxYnF2bnRheXZ2d2Z5aHdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxNjg3MzIsImV4cCI6MjA5MTc0NDczMn0.AoN0JHAJxl8yB6XTEZvXQsA36YVF5uUz1B_ttY6iys4